# Dependencies
node_modules/
google_apps_script.js


# Local Environment Secrets (CRITICAL: Prevents leaks)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.json
!package.json
!manifest.json


# Serverless & Build outputs
.vercel
dist/
build/

# Logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini
